<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="당신을 위한 복지, 여행 ALL THAT TOUR">
    <meta property="og:image" content="http://allthattour.kr/img/bg.jpg">
    <meta property="og:title" content="ALL THAT TOUR" />
    <meta property="og:description" content="당신을 위한 복지, 여행 ALL THAT TOUR " />
    <meta property="og:url" content="http://allthattour.kr" />
    <meta property="og:image" content="http://allthattour.kr/img/bg.jpg">
    <meta property="og:title" content="ALL THAT TOUR" />
    <meta property="og:description" content="당신을 위한 복지, 여행 ALL THAT TOUR " />
    <meta property="og:url" content="http://allthattour.kr" />
    <title>ALL THAT TOUR</title>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body class="datepicker_mobile_full"><!-- Remove this class to disable datepicker full on mobile -->

    <div id="page" class="theia-exception">

        <header class="header menu_fixed">
            <div id="preloader">
                <div data-loader="circle-side"></div>
            </div><!-- /Preload -->
            <div id="logo">
                <a href="/">
                    <img src="/img/logo.svg?v=1" width="150" height="36" alt="" class="logo_normal">
                    <img src="/img/logo_sticky.svg?v=1" width="150" height="36" alt="" class="logo_sticky">
                </a>

            </div>

            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul th:if="${name == ''}">
                    <li><span><a href="/">홈</a></span></li>
                    <li><span><a href="/help">고객센터</a></span></li>
                    <li><span><a href="/cart">장바구니</a></span></li>
                    <li><span><button class="btn btn-primary" onclick="location.href='/signup';">회원가입</a></span>
                    </li>
                    <li><span><button class="btn btn-primary" onclick="location.href='/login';">로그인</a></span>
                    </li>
                </ul>
                <ul th:if="${name != ''}">
                    <li><span><a href="/">홈</a></span></li>
                    <li><span><a href="/help">고객센터</a></span></li>
                    <li><span><a href="/cart">장바구니</a></span></li>
                    <li><span><a href="/mypage" th:text="${name}"></a></span></li>
                </ul>
            </nav>
        </header>
        <!-- /header -->

        <main>
            <section class="hero_in hotels_detail">
                <div class="wrapper">
                    <div class="container">
                        <h1 class="fadeInUp" th:text="${agoda.getName()}">호셀 상세페이지</h1>
                    </div>
                    <span class="magnific-gallery">
                        <a th:href="${agoda2.getP1()}" class="btn_photos" title="Photo title"
                            data-effect="mfp-zoom-in">View
                            photos</a>
                        <a th:href="${agoda2.getP2()}" title="Photo title" data-effect="mfp-zoom-in"></a>
                        <a th:href="${agoda2.getP3()}" title="Photo title" data-effect="mfp-zoom-in"></a>
                    </span>
                </div>
            </section>
            <!--/hero_in-->

            <div class="bg_color_1">
                <nav class="secondary_nav sticky_horizontal">
                </nav>
                <div class="container margin_60_35">
                    <div class="row">
                        <div class="col-lg-8">
                            <section id="description">
                                <h2>개요</h2>
                                <p th:text="${agoda2.getOverviews()}"></p>
                                <p th:utext="${hotel.getRemark()}"></p>
                                <p th:if="${!hotel.getChildrenStayFree()}" style="color: orange;">어린이는 추가 침대를 제공받지 않으며
                                    시갓가 포함되지 않습니다. 요청한 식사는
                                    고객이 직접 호텔에 지불해야 합니다.</p>
                                <ul class="amanity" th:if="${hotel.getChildrenStayFree()}">
                                    <li><span class="tag">#2-11</span></li>
                                    <li><span class="tag">#무료 아이 침대</span></li>
                                    <li><span class="tag">#무료 아이 식사</span></li>
                                </ul>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="bullets" th:each="benefit, iterator : ${benefits}">
                                            <li th:text="${benefit}"></li>
                                        </ul>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <ul class="bullets">
                                            <li>Timeam inimicus</li>
                                            <li>Oportere democritum</li>
                                            <li>Cetero inermis</li>
                                            <li>Pertinacia eum</li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- /row -->
                                <hr>

                                <h3>Pictures from our users</h3>
                                <div class="pictures_grid magnific-gallery clearfix">
                                    <figure><a th:href="${agoda2.getP1()}" title="Photo title"
                                            data-effect="mfp-zoom-in"><img th:src="${agoda2.getP1()}" alt=""></a>
                                    </figure>
                                    <figure><a th:href="${agoda2.getP2()}" title="Photo title"
                                            data-effect="mfp-zoom-in"><img th:src="${agoda2.getP2()}" alt=""></a>
                                    </figure>
                                    <figure><a th:href="${agoda2.getP3()}" title="Photo title"
                                            data-effect="mfp-zoom-in"><img th:src="${agoda2.getP3()}" alt=""></a>
                                    </figure>
                                    <figure><a th:href="${agoda2.getP4()}" title="Photo title"
                                            data-effect="mfp-zoom-in"><img th:src="${agoda2.getP4()}" alt=""></a>
                                    </figure>
                                    <figure><a th:href="${agoda2.getP5()}" title="Photo title"
                                            data-effect="mfp-zoom-in"><img th:src="${agoda2.getP5()}" alt=""></a>
                                    </figure>
                                </div>
                                <!-- /pictures -->

                                <hr>
                                <div class="room_type" th:each="r, iterator : ${rooms}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img th:src="${agoda2.getP2()}" class="img-fluid" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <h4 th:text="${r.getName()}"></h4>
                                            <ul class="amanity">
                                                <li th:each="b, iterator : ${r.getTags()}"><span class="tag"
                                                        th:text="${b}">#조식</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <!-- /rom_type -->
                                <hr>
                                <h3>Location</h3>
                                <div id="map" class="map map_single add_bottom_30"></div>
                                <!-- End Map -->
                            </section>
                            <!-- /section -->


                        </div>
                        <!-- /col -->

                        <aside class="col-lg-4" id="sidebar">
                            <input type="hidden" id="hid" th:value="${agoda.getHotelId()}">
                            <input type="hidden" id="url" th:value="${agoda2.getP1()}">
                            <input type="hidden" id="lat" th:value="${agoda2.getLatitude()}">
                            <input type="hidden" id="lon" th:value="${agoda2.getLongitude()}">
                            <input type="hidden" id="name" th:value="${agoda.getName()}">
                            <input type="hidden" id="searchId" th:value="${searchId}">
                            <input type="hidden" id="rate" value="">
                            <input type="hidden" id="blockId" value="">
                            <div class="box_detail booking">
                                <div class="price">
                                    <span id="price"></span>
                                    <div class="score"><span>Good<em
                                                th:text="${agoda2.getNumberOfReviews() + ' Reviews'}"></em></span><strong
                                            th:text="${agoda2.getRatingAverage()}"></strong>
                                    </div>
                                </div>

                                <div class="form-group input-dates">
                                    <input type="hidden" id="start_date" th:value="${startDate}">
                                    <input type="hidden" id="end_date" th:value="${endDate}">
                                    <input class="form-control" type="text" name="dates"
                                        th:value="${startDate} + ' ~ ' + ${endDate}">
                                    <i class="icon_calendar"></i>
                                </div>

                                <div class="panel-dropdown">
                                    <a id="guests" href="#">누구와 떠나나요? <span class="qtyTotal"
                                            style="display: none;"></span></a>
                                    <div class="panel-dropdown-content">
                                        <!-- Quantity Buttons -->
                                        <div class="qtyButtons">
                                            <label>성인</label>
                                            <input type="text" name="qtyInput" id="adult" th:value="${adult}">
                                        </div>
                                        <div class="qtyButtons">
                                            <label>아동</label>
                                            <input type="text" name="qtyInput" id="child" th:value="${child}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="custom-select-form">
                                        <select class="wide" id="agoda_room">
                                            <option data-price="" value="">Room Type</option>
                                            <option th:each="r, iterator : ${rooms}" th:text="${r.getName()}"
                                                th:value="${r.getId()}" th:data-rate="${r.getRate()}"
                                                th:data-block="${r.getBlockId()}" th:data-price="${r.getPrice()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <a href="javascript:addCart(1);" class=" add_top_30 btn_1 full-width purchase">예약하기</a>
                                <a href="javascript:addCart(0);" class="btn_1 full-width outline wishlist"><i
                                        class="icon_heart"></i> 장바구니에 추가하기</a>
                                <div class="text-center"><small style="color: orangered;"
                                        th:text="${cancellationPolicy}"></small></div>
                            </div>
                        </aside>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /bg_color_1 -->
        </main>
        <!--/main-->

        <footer>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-6 col-md-12 pe-5">
                        <p><img src="/img/logo.svg?v=1" width="150" height="36" alt=""></p>
                        <p>종합여행업 : 제 2022-000004호<br>
                            통신판매업 : 제 2022-서울동대문-0873호<br>
                            종합 여행업 보증보험 : 100-000-202300865898<br><br>
                            서울특별시 동대문구 장한로 119 (주) 올댓메디<br>
                            대표자 : 지윤정
                        </p>
                        <div class="follow_us">
                            <ul>
                                <li>Follow us</li>
                                <li><a href="https://www.instagram.com/all_that_tour/"><i class="ti-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pe-5">
                        <h5>Contact with Us</h5>
                        <ul class="contacts">
                            <li>고객센터 <a href="tel://0264969214"> 02-6406-0214</a> 9:00~ 18:00</li>
                            <li><a href="mailto:tour@allthatmedi.kr"> tour@allthatmedi.kr</a></li>
                        </ul>
                        <div>
                            업무외시간 긴급연락처: +82-6022-2442<br>
                            <ul style="margin-top: 0;">
                                <li style="list-style: disc; list-style-position: inside;">
                                    문의 시에는 "아고다 예약번호"를 함께 제공해주시면 감사하겠습니다.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                        <ul id="additional_links">
                            <li><a
                                    href="https://northern-actress-1b8.notion.site/14b4c5f047a947b19a5f00ba2723dd2e">개인정보처리방침</a>
                            </li>
                            <li><a
                                    href="https://northern-actress-1b8.notion.site/7faa64191d7c4abb971b169d956ae4fa">이용약관</a>
                            </li>
                            <li><span>© ALL THAT TOUR</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->

    <!-- COMMON SCRIPTS -->
    <script src="/js/common_scripts.js"></script>
    <script src="/js/main_rtl.js"></script>
    <script src="phpmailer/validate.js"></script>

    <!-- Map -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAzWOK9LK3q04g7DJB84d1zYldlQtMBwlk&"></script>
    <script src="/js/map_single_hotel.js"></script>
    <script src="/js/infobox.js"></script>

    <!-- DATEPICKER  -->
    <script>

        window.initMap = function () {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: parseFloat($('#lat').val()), lng: parseFloat($('#lon').val())},
                zoom: 15,
            });
            const malls = [
                {label: $('#hname').val(), name: $('#hname').val(), lat: parseFloat($('#lat').val()), lng: parseFloat($('#lon').val())},
            ];
            const bounds = new google.maps.LatLngBounds();

            malls.forEach(({label, name, lat, lng}) => {
                const marker = new google.maps.Marker({
                    position: {lat, lng},
                    label,
                    map,
                });
            });
        };

        initMap();

        $(function () {
            if ($('#adult').val() > 0 && $('#child').val() > 0) {
                $('#guests').text('성인 ' + $('#adult').val() + '명, 아동 ' + $('#child').val() + '명');
            } else if ($('#adult').val() > 0) {
                $('#guests').text('성인 ' + $('#adult').val() + '명');
            } else if ($('#child').val() > 0) {
                $('#guests').text('아동 ' + $('#child').val() + '명');
            }
            $('input[name="dates"]').daterangepicker({
                autoUpdateInput: false,
                minDate: new Date(),
                locale: {
                    cancelLabel: '초기화',
                    applyLabel: '적용'
                }
            }, function (start, end, label) {
                $('#start_date').val(start);
                $('#end_date').val(end);
            });
            $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
                $('#start_date').val(picker.startDate.format('YYYY-MM-DD'));
                $('#end_date').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
            });
            $('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
                $('#start_date').val('');
                $('#end_date').val('');
            });
            $(document).on('change', '#agoda_room', function () {
                if ($(this).val() == '') {
                    $('#price').text('')
                    $('#blockId').val('')
                    $('#rate').val('')
                } else {
                    $('#price').text($('#agoda_room option:selected').data('price') + "원")
                    $('#blockId').val($('#agoda_room option:selected').data('block'))
                    $('#rate').val($('#agoda_room option:selected').data('rate'))
                }
            })
        });
        function addCart(gotoCart) {
            if ($('#agoda_room').val() == '') {
                return;
            }
            var data = JSON.stringify({start: $('#start_date').val(), end: $('#end_date').val(), adult: $('#adult').val(), child: $('#child').val(), roomId: $('#agoda_room').val(), hotelId: $('#hid').val(), hotelUrl: $('#url').val(), hotelName: $('#name').val(), price: $('#agoda_room option:selected').data('price'), searchId: $('#searchId').val(), blockId: $('#blockId').val(), rate: $('#rate').val()});
            $.ajax({
                url: "/api/service/cart.do", type: 'POST', data: data,
                contentType: "application/json;charset=UTF-8",
                complete: function (e, xhr, settings) {
                    if (e.status == 200) {
                        if (gotoCart == 1) {
                            location.replace('/cart')
                        }
                    } else {

                    }
                }
            });
        }
    </script>

    <!-- INPUT QUANTITY  -->
    <script src="/js/input_qty.js"></script>

</body>

</html>