<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="당신을 위한 복지, 여행 ALL THAT TOUR">
	<meta name="image" property="og:image" content="http://allthattour.kr/img/bg.jpg">
	<meta name="title" property="og:title" content="ALL THAT TOUR" />
	<meta name="description" property="og:description" content="당신을 위한 복지, 여행 ALL THAT TOUR " />
	<meta name="url" property="og:url" content="http://allthattour.kr" />
	<title>ALL THAT TOUR</title>

	<!-- Favicons-->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- GOOGLE WEB FONT -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/css/bootstrap-rtl.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/style-rtl.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">
	<style>
		label,
		.logo-text {
			color: white;
		}
	</style>

</head>

<body id="register_bg" class="rtl">

	<nav id="menu" class="fake_menu"></nav>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<div id="login">
		<aside style="background: rgba(255, 255, 255, 0.0);">
			<figure>
				<a href="/" class="logo-text">ALL THAT TOUR</a>
			</figure>
			<form autocomplete="off">
				<div class="form-group">
					<label>영문 이름(First Name)</label>
					<input class="form-control" type="text" id="firstName">
					<i class="ti-user"></i>
				</div>
				<div class="form-group">
					<label>영문 성(Last Name)</label>
					<input class="form-control" type="text" id="lastName">
					<i class="ti-user"></i>
				</div>
				<div class="form-group">
					<label>이메일</label>
					<input class="form-control" type="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>전화번호</label>
					<input class="form-control" type="phone" id="phone">
					<i class="icon_phone_alt"></i>
				</div>
				<div class="form-group">
					<label>비밀번호</label>
					<input class="form-control" type="password" id="passwd">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="form-group">
					<label>비밀번호확인</label>
					<input class="form-control" type="password" id="passwdRe">
					<i class="icon_lock_alt"></i>
				</div>
				<div id="pass-info" class="clearfix"></div>
				<a href="javascript:signup()" class="btn_1 rounded full-width add_top_30">회원가입</a>
			</form>
		</aside>
	</div>
	<!-- /login -->

	<!-- COMMON SCRIPTS -->
	<script src="/js/jquery-2.2.4.min.js"></script>
	<script src="/js/common_scripts.js"></script>
	<script src="/js/main_rtl.js"></script>
	<script src="phpmailer/validate.js"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script src="/js/pw_strenght.js"></script>

	<script>
		function signup() {
			if ($('#firstName').val() == '') {
				alert('영문 이름을 입력하세요')
			} else if ($('#lastName').val() == '') {
				alert('영문 성을 입력하세요')
			} else if ($('#email').val() == '') {
				alert('이메일을 입력하세요')
			} else if ($('#phone').val() == '') {
				alert('전화번호를 입력하세요')
			} else if ($('#passwd').val() == '') {
				alert('비밀번호를 입력하세요')
			} else if ($('#passwd').val() != $('#passwdRe').val()) {
				alert('비밀번호가 일치하지 않습니다')
			} else {
				var data = JSON.stringify({
					firstName: $('#firstName').val(), lastName: $('#lastName').val(), email: $('#email').val(), phone: $('#phone').val(), passwd: $('#passwd').val()
				});
				console.log(data)
				$.ajax({
					url: "/api/user/register.do", type: 'POST', data: data,
					contentType: "application/json;charset=UTF-8",
					complete: function (e, xhr, settings) {
						if (e.status == 200) {
							location.replace('index')
						} else {
							alert('이미 사용 중인 이메일입니다.');
						}
					}
				});
			}
		}
	</script>

</body>

</html>